.company-logos-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
  }
  

  
.logo-img {
    width: 10%;
    height: 10%;
}
  
  /* Keyframe to animate scrolling from right to left */
  @keyframes scrollLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Create a wrapper to ensure the looping effect */
  .scroll-wrapper {
    display: flex;
    flex-direction: row;
    width: max-content; /* Allow wrapping of the logos */
  }
  
  .scroll-wrapper .scroll-line {
    animation: scrollLeft 20s linear infinite;
  }
  